{# empty Twig template #}
<html>
    <body>
        <ul>
        {% for resultado in resultados %}
            <li>
                El resultado del lanzamiento es: <span style='color:red'>{{ resultado }}</span>
            </li>
        {% endfor %}
        </ul>
        {# Comentario #}
        <!-- Comentario HTML -->
    </body>
</html>